<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue To Do List</title>
  <!-- CSS -->
  <link rel="stylesheet" href="css/style.css" />
  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js" defer></script>
  <script src="js/main.js" defer></script>
  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- GoogleFont -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="root" class="container">
    <form @submit.prevent="addTodo" class="input-new-todo">
      <input type="text" placeholder="Cosa da fare" v-model="text">
      <button>Aggiungi</button>
    </form>


    <div class="list-container">
      <h2 v-if="arrTodos.length == 0"> Non ci sono cose da fare</h2>
      <ul v-else>
        <li v-for="(item, index) in arrTodos" :key="item.text" class="item" @click="changeStatus(index)">
          <p :class="{barred: item.done == true }">{{ item.text }}</p>
          <i class="fas fa-times" @click="deleteTodo(index)"></i>
        </li>
        <!-- <li>{{ text }}</li> -->
      </ul>
    </div>
  </div>
</body>

</html>